html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#map {
height: 500px;
}

.popup-container {
    display: inline-block;
    position: relative;
}

.popup-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

.daytimeForecast {
    color: white;
}

.nighttimeForecast {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    /*background-color: #f1f1f1;*/
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (min-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}
